# =========================
# Java / Maven (all modules)
# =========================
**/target/
**/*.log
**/*.class
**/*.jar

# =========================
# IntelliJ (global)
# =========================
.idea/
**/*.iml
out/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
**/*.log

# =========================
# Docker / env
# =========================
.env
*.env

# =========================
# Node (lambda / AI experiments)
# =========================
**/node_modules/

# =========================
# Build outputs
# =========================
dist/
build/

# =========================
# Local configs
# =========================
application-local.yml